RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
#URL AMIGAVEIS
RewriteRule ^enviar/?$ mensagem.php [NC,L]
RewriteRule ^chat/?$ torreDeBabel.php [NC,L]

RewriteRule ^logando/?$ login.php [NC,L]